@model _8ball_arena.Models.DuelViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Duel Details</h1>

<p>Duel ID: @Model.Id</p>
<p>Status: @Model.Status</p>
<p>Created: @Model.DateCreated</p>

<h2>Participants</h2>
<ul>
    @foreach (var participant in Model.Participants)
    {
        <li>
            Username: @participant.Username 
            @if (participant.IsWinner.Value)
            {
                <span>(Winner)</span>
            }
        </li>
    }
</ul>

<h2>Assign winner</h2>
@if(Model.Status == "Pending")
{
	<form asp-action="AssignWinner" asp-controller="Duel">
		<input type="hidden" name="id" value="@Model.Id" />
		<select name="winnerId">
			@foreach (var participant in Model.Participants)
			{
				<option value="@participant.UserId">@participant.Username</option>
			}
		</select>
		<button type="submit">Assign winner</button>
	</form>
}
else
{
	<p>Duel is not active.</p>
}