@model _8ball_arena.Models.DuelViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Duel Details</h1>

<p>Status: @Model.Status</p>
<p>Created: @Model.DateCreated</p>

<h2>Participants</h2>
<ul>
    @foreach (var participant in Model.Participants)
    {
        <li>
            Username: @participant.Username 
            @if (participant.IsWinner.Value)
            {
                <span>(Winner)</span>
            }
        </li>
    }
</ul>


@if (Model.Status == "Pending")
{
	<form asp-action="AssignWinner" asp-controller="Duel" class="text-light p-3 rounded">
		<input type="hidden" name="id" value="@Model.Id" />
		<div class="mb-3">
			<label for="winnerId" class="form-label">Select Winner</label>
			<select name="winnerId" id="winnerId" class="form-select bg-dark text-light">
				@foreach (var participant in Model.Participants)
				{
					<option value="@participant.UserId">@participant.Username</option>
				}
			</select>
		</div>
		<button type="submit" class="btn btn-outline-light">Assign winner</button>
	</form>
}
