@model _8ball_arena.Models.DuelViewModel

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}


<h1>Duel Details</h1>

<p>Status: @Model.Status</p>
<p>Created: @Model.DateCreated</p>

<h2>Participants</h2>
<ul>
    @foreach (var participant in Model.Participants)
    {
        <li>
            @participant.Username 
            @if (participant.IsWinner.Value)
            {
                <span>(Winner)</span>
            }
        </li>
    }
</ul>


@if (Model.Status == "Pending")
{
	<form asp-action="AssignWinner" asp-controller="Duel" class="text-light p-3 rounded">
		<input type="hidden" name="id" value="@Model.Id" />
		<div class="mb-3">
			<label for="winnerId" class="form-label">Select Winner</label>
			<select name="winnerId" id="winnerId" class="form-select bg-dark text-light">
				@foreach (var participant in Model.Participants)
				{
					<option value="@participant.UserId">@participant.Username</option>
				}
			</select>
		</div>
		<button type="submit" class="btn btn-outline-light">Assign winner</button>
	</form>
}

<div>
    <h4>Comments</h4>
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>
                <strong>@comment.UserId</strong>: @comment.Text <em>@comment.DateTime</em>
            </li>
        }
    </ul>
</div>

<div>
    <h4>Add Comment</h4>
    <form asp-action="AddComment" method="post">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="Status" value="@Model.Status" />
        <div class="form-group">
            <label asp-for="NewCommentText"></label>
            <textarea asp-for="NewCommentText" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
</div>
